PyQt6
bleak
pyinstaller
winrt-Windows.ApplicationModel
winrt-Windows.ApplicationModel.Activation
winrt-Windows.ApplicationModel.Background
winrt-Windows.ApplicationModel.Core
winrt-Windows.Devices.Bluetooth.Rfcomm
winrt-Windows.Networking
winrt-Windows.Networking.Connectivity
winrt-Windows.Networking.Sockets
winrt-Windows.Security.Credentials
winrt-Windows.Storage
winrt-Windows.Storage.Search
winrt-Windows.System
winrt-Windows.System.Diagnostics
winrt-Windows.System.RemoteSystems
winrt-Windows.UI
winrt-Windows.UI.Popups
winrt-Windows.UI.ViewManagement
